body, html {
    height: 100%;
    margin: 0;
}
.container {
    display: flex;
    height: 100%;
}
.left {
    flex:0.2;
    border: 1px solid #ccc;
    overflow-y: auto;
}
.middle {
    flex: 1;
    border: 1px solid #ccc;
    overflow-y: auto;
}
.right {
    flex: 3;
    border: 1px solid #ccc;
    overflow-y: auto;
}
.option {
    padding: 10px;
    border-bottom: 1px solid #ccc;
}
.text-area {
    width: calc(100% - 20px);
    margin: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    resize: none;
}
.display-screen {
    height: 600px;
    margin: 10px;
    border: 1px solid #ccc;
    overflow-y: auto;
}
.settings-button {
    float: right;
    margin: 10px;
    padding: 5px 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
}