<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Legal Chatbot</title>
    <link
      rel="stylesheet"
      type="text/css"
      href="{{url_for('static', filename= 'css/styles2.css')}}"
    />
  </head>
  <body>
    <div class="container">
      <div class="left">
        <div class="home">
          <a href="/">
            <img
              width="40"
              height="40"
              src="{{ url_for('static',filename='img/png/logo-no-background.png') }}"
              alt=""
            />
          </a>
        </div>
        <div id="options">
          <div class="option" id="chat">
            <img
              width="30"
              height="30"
              src="https://img.icons8.com/ios/50/speech-bubble-with-dots--v1.png"
              alt="chat-message--v1"
              class="option-img"
            />
          </div>
          <div class="option">
            <img
              width="30"
              height="30"
              src="https://img.icons8.com/ios/50/google-docs.png"
              alt="google-docs"
              class="option-img"
            />
          </div>
          <div class="option">
            <img
              width="30"
              height="30"
              src="https://img.icons8.com/ios/50/cloud--v1.png"
              alt="cloud--v1"
              class="option-img"
            />
          </div>
          <div class="option">
            <img
              width="30"
              height="30"
              src="https://img.icons8.com/fluency-systems-regular/48/user--v1.png"
              alt="user"
              class="option-img"
            />
          </div>
        </div>
        <div class="menu">
          <div>
            <img
              width="17"
              height="17"
              src="https://img.icons8.com/ios/50/info--v1.png"
              alt="info--v1"
            />
          </div>
          <div>
            <img
              width="17"
              height="17"
              src="https://img.icons8.com/fluency-systems-regular/48/appointment-reminders--v1.png"
              alt="appointment-reminders--v1"
            />
          </div>
          <div>
            <img
              width="19"
              height="19"
              src="https://img.icons8.com/external-glyph-silhouettes-icons-papa-vector/78/external-Light-Mode-interface-glyph-silhouettes-icons-papa-vector.png"
              alt="external-Light-Mode-interface-glyph-silhouettes-icons-papa-vector"
            />
          </div>
        </div>
      </div>
      <div class="middle" id="middle">
        <div class="box" id="pro">
          <a href="#m1-o" class="active-pro" id="m1-c">Active Pro</a>

          <div
            class="modal-container"
            id="m1-o"
            style="--m-background: hsla(0, 0%, 0%, 0.4)"
          >
            <div class="modal">
              <div class="card">
                <div class="header">AI LAWYER +</div>
                <div class="info">
                  <center>
                    <p class="title">Premium Package Highlights</p>
                  </center>
                  <ul>
                    <li>24/7 Legal Assistance</li>
                    <li>Personalized Solutions</li>
                    <li>Advanced Case Analysis</li>
                    <li>Expert Consultations</li>
                    <li>Priority Support</li>
                    <li>Top-Notch Security</li>
                    <li>Streamlined Processes</li>
                    <li>Confidence in Decision-Making</li>
                    <li>Experience the Future</li>
                  </ul>
                </div>
                <div class="footer">
                  <a href="#m1-c"> <p class="tag">CLOSE</p></a>
                  <button type="button" class="action">Buy Now $99</button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div id="tabs"></div>
      </div>
      <div class="right">
        <div class="display-screen" id="display"></div>
        <div class="ib">
          <input
            class="text-area"
            id="inputMessage"
            placeholder="Type your message here..."
          />
          <div class="send" id="send">Send</div>
        </div>
      </div>
    </div>

    <script src="{{url_for('static', filename= 'js/script2.js')}}"></script>
  </body>
</html>
